.new{
    width: 90px;
    height: 70px;
    border: 5px solid black;
    background-color: black;
}
.container{
    width: 0px;
    height: 0px;
    border-right: 60px solid transparent;
    border-top: 60px solid red;
    border-left: 60px solid red;
    border-bottom: 60px solid red;
  border-radius: 50%;
    
}

.DAMSEL{
    height: 0;
    width: 0;
    border-right: 50px solid transparent;
    border-bottom :100px solid red;
    border-left: 50px solid transparent;
}
